.App {
  background-color: #ffe7e7;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.SearchField {
  /* text box to search */
  padding-top: 20px;
  /* background: radial-gradient(circle, black, white); */
  padding-bottom: 20px;
}

.App-header {
  /* Header where it says search GIPHY */
  background: url(https://media4.giphy.com/headers/juanbilly/awbw8EaeaHtc.gif); 
  /* make into random gif? */
  height: 180px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: center;
  font-family: Impact;


  /* background-color: #5c4aff; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: rgb(253, 1, 253);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gif-list{
  display: flex;
}

.gif{
  height: 20vh;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.nav-button {
  margin: 5px 5px 5px 5px;
}